<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Conspiracy Analyzer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-4">Conspiracy Analyzer</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Conspiracy Theory</th>
          <th>Introduced</th>
        </tr>
      </thead>
      <tbody>
        {% for conspiracy in conspiracies %}
        <tr>
          <td><a href="/conspiracy/{{ conspiracy.name }}">{{ conspiracy.name }}</a></td>
          <td>{{ conspiracy.year }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
